.UserHome-container {
  width: 100%;
  min-height:auto;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows:minmax(50px,auto);
}
.userNavBar {
  width: 100%;
  height: 80px;
  background-color: rgb(255, 255, 255);
  position: fixed;
}
.userNavSlider{
  grid-column: span 1;
   grid-row: span 60;
  background-color: rgb(255, 255, 255);
}
.userMain{
  grid-column: span 4;
  grid-row: span 60;
  background-color: rgb(255, 255, 255);
}
#userMainBox1{
  width:100%;
  height:30%;
  background-color: rgb(255, 255, 255);
  color: black; 
}
#userMainBox2{
  width:100%;
  height:35%;
  background-color: rgb(12, 0, 0);
}
#userMainBox3{
  width:100%;
  height:20%;
  background-color: rgb(255, 255, 255);
}
#userMainBox4{
  width:100%;
  height:10%;
  background-color: rgb(255, 255, 255);
}