.Complientbox-container{
    width:60%;
    height: auto;
    border: 2px solid black;
    border-radius: 0.3rem;
    margin:1rem;
    padding:0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    color: black;
}

.Complientbox-container:hover{
    width:61%;
    width:61%;
    transform: translateY(-3px);
    border: 2px solid rgb(0, 0, 0);
    
}
.complientbox{
    width:100%;
    height:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
