.Navbar_container {
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  display: flex;
  gap: 2px;
  justify-content: space-between;
  align-items: center;
}
.logo_container {
  border: 1px solid black;
  background-color: transparent;
  height: 80%;
  width: 150px;
}
.nav_container {
  /* border: 1px solid black; */
  background-color: transparent;
  height: 100px;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav_container a {
  width: 100px;
  text-decoration: none;
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 2px;
  font-size: 1rem;
  padding: 10px;
  transition: transform 1s ease;
  font-size: medium;
}
.nav_container a:hover {
  color: rgb(7, 90, 0);
}
.nav_container a:active {
  transform: scale(1.2);
   color: whitesmoke;
}
.profile_container {
  background-color: transparent;
  height: 80%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(16, 67, 20);
  font-weight: bold;
}
.logout_container {
  background-color: transparent;
  height: 80%;
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logout_container a {
  font-family: sans-serif;
  font-weight: bold;
  font-size: larger;
  text-decoration: none;
  background-color: transparent;
  color: rgb(0, 0, 0);
}
