.MapCheck-container {
  width: 100%;
  min-height: 100vh;
  text-align: center;
}

.search-box {
  background-color: rgb(0, 213, 255);
  padding: 1rem;
   margin-bottom: 1rem;
   border: 2px solid black;
}

.search-box input {
  padding: 8px;
  width: 220px;
  font-size: 14px;
 
}

.search-box button {
  padding: 8px 12px;
  margin-left: 5px;
  cursor: pointer;
}

.map {
  height:530px;
  width:90%;
  margin: auto;
  border: 2px solid black;
}