*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: green;
     scrollbar-width:10px;
     scroll-snap-type: x mandatory;
     font-family: 'Poppins', sans-serif;
    
}
body {
  font-family: 'Poppins', sans-serif;
}